/*   R E S E T   */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(35deg, #9e23fd, #332ffa);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/*   S T Y L I N G   */
.wrapper {
    overflow: hidden;
    margin-top: 40px;
}
.slide {
    display: flex;
}
.slide:hover {
    will-change: transform;
}
.slide span {
    flex-shrink: 0;
    margin: 0 10px;
    padding: 5px;
    width: 50vw;
    max-width: 700px;
    min-width: 200px;
    opacity: 0.8;
    transform: scale(0.9);
    transition: 0.4s;
}
.slide img {
    display: block;
    width: 100%;
    box-shadow: 0 0px 5px #000000;
}
.slide span.active {
    opacity: 1;
    transform: scale(1);
}
